body {
    color: #667e35;
    font-family: 'Exo 2', sans-serif;
    background-color: #EDF3E0;
}

nav {
    background-color: #667e35 !important;
    color: #EDF3E0 !important;
    overflow: visible !important;
}

.logo-container {
    overflow: visible !important;
}

.navbarLinks {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

#splash {
    height: 100vh;
    width: 100vw;

}

form {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

input {
    margin-bottom: 1rem !important;
    padding: .5rem !important;
    font-size: .8rem !important;
    border: none !important;
    box-shadow: 0 0.1rem 1.4rem rgba(98, 98, 98, 0.5);
}

button {
    margin-bottom: 1rem !important;
    padding: .5rem !important;
    font-size: .8rem !important;
    border: none !important;
    box-shadow: 0 0.1rem 1.4rem rgba(98, 98, 98, 0.5);
    background-color: #7aa066 !important;
}

.card button {
    box-shadow: 0 0.1rem .5rem rgba(98, 98, 98, 0.5) !important;

}

.splash-container {
    height: 75vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: fixed;
    z-index: 100;
    min-width: 100%;
}

.bg-img {
    z-index: -100;
    width: 100%;
}

.logo-img {
    width: 30vw;
}

.search-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    margin: 1.5rem;
    width: 200px;
    height: 350px;
    border-radius: 5%;
    padding: 10px;
    box-shadow: 0 0.1rem 1.4rem rgba(98, 98, 98, 0.5);
    background-color: #EDF3E0;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-body p {
    max-height: 50px;
}

.card img {
    height: 200px;
}

.splash_img {
    width: 25%;
}

.small_icon {
    width: 90%;
}
.singleAd-container {
    max-width: 80%;
    max-height: 80%;
}
.singleAd-container img {
    max-width: 100%;

}
.error {
    height: auto;
}

.logo-container {
    left: 1px;
    top: 1px;
    width: 70px;
}


.profile-container img{
    /*border-radius: 50%;*/
    height: 50%;
    width: 95%;

}

.catch-phrase {
    font-family: 'Exo 2', sans-serif;
    margin-top: 1%;
    font-weight: bolder;
    /*text-shadow: 1px -1px 1px #EDF3E0;*/


}
.form-bg {
    min-width: 30vw;
    min-height: 65vh;
    background-color: rgba(237,243,224,0.95);
    padding: 2%;
    max-width: 45vw;

}
.form-bg label:nth-child(2) {
    margin-top: 15%;
}
.form-bg input {
    width: 65%;
}
.form-container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;

}
.login-header {
    margin-top: 5%;
}

.body-div {
    display: flex;
    justify-content: center;
}

.container-card-container {
    background-color: #EDF3E0;
    min-width: 15%;
    max-width: 55%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0.1rem 1.4rem rgba(98, 98, 98, 0.5);
}

.card-container-container {
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: center;
}
.single {
    /*border-radius: 5%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*box-shadow: 0 0.1rem 1.4rem rgba(98, 98, 98, 0.5);*/
    /*background-color: rgba(237,243,224,0.95);*/
}
.single h1{

}
.single button {
    width: 50%;
    border-radius: 5%;
    color: #EDF3E0;
}
.create-form {
    border-radius: 5%;
    margin-top: 4%;
    padding: 10px;
    box-shadow: 0 0.1rem 1.4rem rgba(98, 98, 98, 0.5);
}
.create-form h1 {
    margin-top: 6%;
}
.create-form label:nth-child(2) {
    margin-top: 8%;
}
.create-form button {
    width: 65%;
    margin-top: 2%;
}
.single-ad-container {
    justify-content: space-between;
}
.red-button {
    background-color: darkred!important;
}

.search-results {
    min-width: 35%;
    max-width: 95%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.1rem 1.4rem rgba(98, 98, 98, 0.5);
    background-color: rgba(237,243,224,0.95);
}
.search-results h1{
    margin-top: 2%;
}
.search-div-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.search-mid {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.update-class .form{
    width: 25%;
}

.button-container {
    width: 100px;
}

#circle {
    position: absolute;
    z-index: 1;
    top: 5%;
}
#inner {
    position: absolute;
    z-index: 2;
    top: 14.5%;
    height: 350px;
    animation: inner 500ms linear;
}
@keyframes inner{
    50% {
        transform: rotate(25deg);
    }
}
#outer {
    position: absolute;
    z-index: 2;
    top: 15%;
    height: 350px;
    animation: outer 500ms linear;
}
@keyframes outer {
    50%{
        transform: rotate(-25deg);
    }
}