body {
    color: #667e35;
    background-color: #EDF3E0;
}

nav {
    background-color: #667e35 !important;
    color: #EDF3E0 !important;
    overflow: visible !important;
}

.logo-container {
    overflow: visible !important;
}

.navbarLinks {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

#splash {
    height: 100vh;
}

form {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

input {
    margin-bottom: 1rem !important;
    padding: .5rem !important;
    font-size: .8rem !important;
    border: none !important;
    box-shadow: 0 0.1rem 1.4rem rgba(98, 98, 98, 0.5);
}

button {
    margin-bottom: 1rem !important;
    padding: .5rem !important;
    font-size: .8rem !important;
    border: none !important;
    box-shadow: 0 0.1rem 1.4rem rgba(98, 98, 98, 0.5);
    background-color: #7aa066 !important;
}

.card button {
    box-shadow: 0 0.1rem .5rem rgba(98, 98, 98, 0.5) !important;

}

.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.bg-img {
    z-index: -100;
    width: 100%;
}

.logo-img {
    width: 30vw;
}

.search-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    margin: 1.5rem;
    width: 200px;
    height: 350px;
    border-radius: 5%;
    padding: 10px;
    box-shadow: 0 0.1rem 1.4rem rgba(98, 98, 98, 0.5);
}

.card img {
    height: 200px;
}

.splash_img {
    width: 25%;
}

.small_icon {
    width: 90%;
}

.singleAd-container {
    max-width: 80vw;
    max-height: 80vh;
}

.singleAd-container img {
    height: 50%;
    width: 50%;
}

.error {
    height: auto;
}

.logo-container {
    left: 1px;
    top: 1px;
    width: 70px;
}


.profile-container img{
    border-radius: 50%;
    height: 50%;

}
.profile-container {
    width: 20%;
}
.catch-phrase {
    font-family: 'Exo 2', sans-serif;
    margin-top: 1%;
    font-weight: bolder;
    text-shadow: 1px -1px 1px #EDF3E0;
}
.form-bg {

    width: 30vw;
    height: 65vh;
    background-color: rgba(237,243,224,0.95);
    padding: 2%;

}
.form-bg label:nth-child(2) {
    margin-top: 15%;
}
.form-bg input {
    width: 65%;
}
.form-container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;

}
.login-header {
    margin-top: 5%;
}





